<!-- Sección de Pendientes -->
<div class="mb-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4 mb-0">Autorizaciones Pendientes</h2>
    {% if 'gestionar_autorizaciones' is has_permission %}
    <a href="{{ url_for('admin_autorizacion.nueva_autorizacion') }}" class="btn btn-primary">
            <i class="bi bi-plus-circle me-1"></i>
            Nueva Autorización
        </a>
    {% endif %}
    </div>
    <div id="pending-authorizations-container" class="row">
        <!-- Las tarjetas de autorización pendientes se cargarán aquí -->
    </div>
</div>

<!-- Sección de Historial -->
<div>
    <h2 class="h4 mb-3">Historial de Autorizaciones</h2>
    <div id="history-authorizations-container" class="row">
        <!-- Las tarjetas del historial se cargarán aquí -->
    </div>
</div>