<!-- app/templates/planificacion/modals/modal_reportar_avance.html -->
<div class="modal fade" id="modalReportarAvance" tabindex="-1" aria-labelledby="modalReportarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalReportarLabel"><i class="bi bi-clipboard-data me-2"></i>Reportar Avance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-reportar">
          <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="cantidad-buena" class="form-label">Cantidad Producida (Buena)</label>
                <small class="text-muted fw-bold" id="cantidad-restante-info">Restante: 0.00 kg</small>
            </div>
            <input type="number" class="form-control" id="cantidad-buena" name="cantidad_buena" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          </div>
          <div class="mb-3">
            <label for="cantidad-mala" class="form-label">Cantidad Desperdicio (Mala)</label>
            <input type="number" class="form-control" id="cantidad-mala" name="cantidad_desperdicio" value="0" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          </div>
          <div class="mb-3" id="motivo-desperdicio-container" style="display: none;">
            <label for="motivo-desperdicio" class="form-label">Motivo del Desperdicio</label>
            <select class="form-select" id="motivo-desperdicio" name="motivo_desperdicio_id">
              <option value="">-- Elegir un motivo --</option>
              {% for motivo in motivos_desperdicio %}
              <option value="{{ motivo.id }}">{{ motivo.descripcion }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" form="form-reportar" id="btn-confirmar-reporte">
          <i class="bi bi-check-lg me-1"></i>Confirmar Reporte
        </button>
      </div>
    </div>
  </div>
</div>
